<%- include('partials/header', { title: "Index" }) %>
    <h1>Authentication</h1>
    <span class="index-button-container">
        <button onclick="window.location.href='/login'">Login</button>
        <button onclick="window.location.href='/signup'">Sign Up</button>
    </span>
<%- include('partials/footer') %>
