<%- include('partials/header', { title: "User Landing" }) %>

<section class="dashboard">
    <header>
        <h1>Welcome, <%= username %>!</h1>
    </header>
    <main>
        <p>You are now logged in!</p>
    </main>
    <footer>
        <p><a href="/logout">Logout</a></p>
    </footer>
</section>

<%- include('partials/footer') %>


